@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col m4">
        <div class="card">
            <div class="card-image">
                <img src="https://picsum.photos/200/100/?image=2" alt="">
                <span class="card-title">Library Catalog</span>
            </div>
            <div class="card-action">
                <a asp-action="Index" asp-controller="Catalog">View catalog</a>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card">
            <div class="card-image">
                <img src="https://picsum.photos/200/100/?image=1" alt="">
                <span class="card-title">Patrons</span>
            </div>
            <div class="card-action">
                <a asp-action="Index" asp-controller="Patron">View patron index</a>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card">
            <div class="card-image">
                <img src="https://picsum.photos/200/100/?image=3" alt="">
                <span class="card-title">Branches</span>
            </div>
            <div class="card-action">                
                <a asp-action="Index" asp-controller="Catalog">View branch index</a>
            </div>
        </div>
    </div>
</div>